#main-container {
  max-width: 1440px;
  margin: 0 auto;
}
header {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
header nav {
  place-self: center end;
}
header nav ul {
  text-decoration: none;
  margin-right: 100px;
}
.top-nav {
  padding-left: 50px;
}
.top-nav span {
  color: #e7852b;
}
.top-nav p {
  margin-bottom: 0;
  margin-top: 0;
}
.flex-container {
  display: flex;
}
.wrap-container {
  flex-wrap: wrap;
}
header nav ul li {
  list-style: none;
}

header nav ul li a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration: none;
  list-style: none;
  margin: 20px;
  padding: 0px 10px 0px 10px;
  color: #000000;
}
.top-nav p,
span {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

header nav ul li a:hover {
  background: #e7852b;
  color: #ffffff;
  border-radius: 20px;
}

/* orange car section */
.car-container {
  width: 100%;
  height: 600px;
  justify-content: space-between;
  flex-direction: row;
}

.orange-car {
  width: 840px;
  height: 600px;
  place-self: center start;
  display: flex;
}
.text-container {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  align-items: center;
  place-self: center end;
}
.text-container h1 {
  font-family: Poppins;
  font-size: 82px;
  font-weight: 600;
  line-height: 90px;
  text-align: left;
  color: #000000;
  width: 100%;
  margin-bottom: 0px;
  margin: 0px;
}
.text-container p {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #e7852b;
}
.text-container button {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  border-radius: 5px;
}
.text-container button:hover {
  background: #e7852b;
  color: #ffffff;
}
.banner {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  background-color: #e7852b;
  padding: 10px 50px 10px 50px;
}
/* automobiliu grid */
.carss-container {
  background-color: antiquewhite;
  flex-wrap: wrap;
  display: flex;
  margin-left: 50px;
}
.cars-container h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-align: left;
  margin-left: 50px;
}
.width {
  width: 100%;
}
.auto-container {
  width: calc((100% - 60px) / 3);
  display: flex;
  margin: 10px;
  align-items: center;
  place-self: center end;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px 0px #00000026;
  border-radius: 5px;
}
.auto {
  height: 232px;
}
.auto-name {
  font-family: Poppins;
  font-size: 31.25px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  margin: 20px;
}
.imokos {
  background-color: #f4caa4;
  color: #000000;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: #452508;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  margin: 20px;
}
.buttons {
  display: flex;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 15px;
}
.auto-container button {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  width: 40%;
  margin-right: 20px;
}
.auto-container button:hover {
  background: #e7852b;
  color: #ffffff;
  border: #e7852b;
}
/* Footer */
footer p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #777777;
}
