$iconsBluecl: rgba(32, 173, 150, 1);
$NavAcl: rgba(74, 85, 108, 1);
$buttonWhite: rgba(255, 255, 255, 1);
$h1header: rgba(51, 52, 97, 1);
$pheader: rgba(102, 112, 133, 1);
$bodys: rgba(250, 248, 246, 1);
