<%- include ('layout/head')  %>
    <h2>random listas PAge</h2>

    <ul>
        <li>as</li>
        <li>s</li>
        <li>d</li>
        <li>e</li>
        <li>f</li>
        <li>g</li>
        <button>Log Out</button>
    </ul>
<%- include ('layout/footer')  %>