body {
    background-color: gray
}
h1{
    background-color: black;
    color: darkblue;
}
h2{
    background-color: darkblue;
}
h1, h2 {
    color: white;
}
.paslaugos {
    background-color: aliceblue;
}
a{
    color: brown;
}
div{background-color: white;}