.grid {
  display: grid;
  grid-template:repeat(5,150px) / repeat(5, 1fr);
  grid-gap: 10px;
}
.red {
    background-color: red;
    /* grid-column: 1/3; */
    grid-area: r;
  }
  
.blue {
  background-color: blue;
  /* grid-column: 3/5; */
  grid-area: b;
}
.green {
  background-color: green;
  /* grid-column: 1; */
  grid-area: g;
}
.yellow {
  background-color: yellow;
  /* grid-column: 1/5; */
  grid-area: y;
}
.violet {
  background-color: blueviolet;
  /* grid-column: 2/5; */
  grid-area: v;
}
.violet-v {
  background-color: blueviolet;
  /* grid-column: 2/5; */
  grid-area: v2;
}
.grid1 {
    display: grid;
    grid-template:repeat(5,150px) / repeat(5, 1fr);
    grid-template-areas: 
    "r r r r "
    "b b g g"
    "b b v v2";
}