body {
    background-color: sandybrown !important;
}
.container{
    margin-top: 50px;
    border: black 1px solid;
    border-radius: 15px;
    padding: 60px 0 60px 0;
}

.cards-list {
    gap: 5px;
    justify-content: center;
}

.cards-list .card {
    height: 100%;
    
}
.no-pets-found {
    text-align: center;
    font-size: 1.2em;
    color: #ff0000; /* Raudona spalva */
    margin-top: 20px;
}
.card-text img {
    width: 100px;
    height: 100px;
}